body {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  margin-top: 2em;
}

.RulesComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StickyNote {
  background-color: rgb(245, 245, 10, .7);
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  padding: .5rem;
  margin: 2rem 0;
}

#home--sticky {
  width: 100%;
}

.logIn--page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#stickynote--login {
  background-color: rgb(154, 255, 154);
}

#stickynote--signUp {
  background-color: rgb(110, 243, 255);
}

.signUp--page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



LogIn {
  display: flex;  
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
  margin-top: 1rem;

}

.rules--list {
  font-size: 2rem;
  font-weight: 500;
  margin: .5rem;
}

.logIn--button {
  background: rgba(255, 0, 251, 0.681);
  padding: 1em;
  box-shadow: 1px 1px 1px #000;
  border-radius: 25px 0 0 25px;
}

.room--button {
  background: rgba(46, 255, 94, 0.5);
  padding: 1em;
  box-shadow: 1px 1px 1px #000;
  border-radius: 0px 25px 25px  0px;
  
}

.rules--button--div {
  padding: 1rem;
}

.home__component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mainAppComponent {
    background-image: 
    linear-gradient(
      90deg, transparent 0%, transparent 10%, 
      #EA858A 10%, #EA858A calc(10% + 3px), 
      transparent calc(10% + 3px), transparent 100%
    ), 
    linear-gradient(
      180deg, white 10%, transparent 10%
    ),
    repeating-linear-gradient(
      180deg, #91C1E1 0px, #91C1E1 2px,
      transparent 2px, transparent 38px
    ), 
    linear-gradient(white,white);
  height: 100vh;
  padding: 1rem;
  margin: 0;
}

.link-button {
  color: black;
  padding: .5rem 1rem;
}

#button-rooms {
  border-radius: 25px 0 0 25px;; 
  background: rgba(255, 0, 251, 0.681);
}
#button-login {
  border-radius: 0px 25px 25px  0px; 
  background-color: rgb(75, 255, 78);
}

.room--search--form {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.room--search {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.roomsComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activeRoomList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.roomsComponent ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.roomsComponent li {
  list-style: none;
  padding-left: 0
}

#rooms {
  background-color: rgb(251, 126, 232);
}